.s-dashboard {
  margin-bottom: 7rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
  }
  .text {
    h2 {
      font-weight: 600;
      font-size: 3rem;
      line-height: 125%;
      color: $brand-primary-orange;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
