.mainBtn{
    padding: 1.2rem 1.7rem;
    background-color: $brand-primary-orange;
    color: $brand-light-orange;
    border-radius: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 100%;
    transition: all 0.25s ease-in;

    &:hover {
        transform: scale(1.06);
        border-radius: .8rem;
        color: #141517;
    }
}