footer {
  display: flex;
  flex-direction: column;
  background-color: #141517;
  width: 100vw;

    p, strong, a {
      color: $brand-light-orange;
    }

    .f-top {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2em;

      .budgetbuddy-title,
      .budgetbuddy-title strong {
        font-size: 3rem;
      }

      .budgetbuddy-title,
      .budgetbuddy-slogan {
        font-weight: 300;
      }

      .second-column {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        .contact-us {
          font-size: 2rem;
        }

        .email-address,
        .phone-number {
          font-weight: 300;
        }
      }

      .third-column {
        display: flex;
        gap: 3rem;

        a {
          transition: all 0.25s ease-in;
        }

        a:hover {
          color: $brand-primary-orange;
        }
      }
    }

    .f-bottom {
      display: flex;
      justify-content: center;
      margin: 3.5rem;
      font-weight: 300;
      border-top: 1px solid #fff;

      p {
        padding-top: 2em ;
      }
    }
  }
