.s-hero {
    padding: 15.2rem 2rem;
    background: url("../../../public/assets/img/Hero-background.png") no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img_pig {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3.2rem;
        width: 50%;

        h1, p{
            color: $brand-light-orange;
            font-family: sans-serif;
            font-style: normal;
        }

        h1 {
            font-size: 5.1rem;
            font-weight: 600;

        }

        p {
            font-size: 1.6rem;
            
            strong {
                color: $brand-primary-orange
            }
        }
        
    }

}